@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
}

option {
  color: black;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}